@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url(Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url(Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(Montserrat-Medium.ttf);
}

body {
  /* height: 4744px; */
  height: 2946px;
  width: 1600px;
  margin: 0;
}

.top-banner-container {
  width: 1600px;
  height: 74px;
  background-image: linear-gradient(90deg, #f9236f 0%, #f92346 100%);
  margin: 0;
}

.top-navigation-bar {
  width: 1600px;
  height: 121px;
  background-color: #e4f6ff;
}

.nav-bar-horizontal-rule {
  position: absolute;
  top: 125px;
  margin: auto;
  width: 1170px;
  height: 1px;
  background-color: #000000;
  padding-top: 0px;
}

.free-international {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  padding-left: 221px;
  line-height: 74px;
}

.free-international-button {
  font-size: 16px;
  color: #222222;
  font-weight: 800;
  font-family: "Montserrat";
  width: 33px;
  height: 33px;
  border-radius: 16px;
  background-color: #ffffff;
  border: none;
  position: absolute;
  right: 217px;
  top: 20px;
}

.main-banner-container {
  position: relative;
  /* top: 182px; */
  height: 1057px;
  background-color: #bae9ff;
}
.me-store {
  font-size: 26px;
  color: #222222;
  font-weight: 900;
  font-family: "Montserrat";
  position: absolute;
  top: 146px;
  padding-left: 221px;
}

.nav-bar-links {
  position: absolute;
  right: 217px;
  top: 136px;
}

.nav-link-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  width: 566px;
  padding-top: 20px;
}

.nav-link {
  font-size: 16px;
  color: #222222;
  font-weight: 700;
  font-family: "Montserrat";
  text-decoration: none;
  margin: 0;
}

hr {
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

.fashion-carnival-container {
  height: 935px;
  width: 610px;
  background-color: #bae9ff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 275px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 121px;
  letter-spacing: -9px;
  line-height: 87px;
  color: #222222;
  text-align: center;
  /* padding-left: 279px; */
  margin-bottom: 0;
  /* padding-top: 264; */
}

.carnival {
  color: #f9246f;
}

h2 {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 50px;
  letter-spacing: 91px;
  color: #222222;
  margin: 0;
  text-align: center;
  padding-left: 40px;
}

p {
  height: 65px;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 10;
}

.shop-now-button {
  width: 156px;
  height: 47px;
  background-image: linear-gradient(90deg, #f9236f 0%, #f92346 100%);
  border: none;
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 30px;
}

.semi-circle-container {
  width: 1172px;
  height: 65px;
  background-color: #bae9ff;
  position: absolute;
  top: 1120px;
  left: 214px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.semi-circle {
  top: 50%;
  left: 50%;
  height: 60px;
  width: 127px;
  border-radius: 150px 150px 0 0;
  background-color: #ffffff;
}

.outer-product-section-container {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  width: 1600px;
  height: 1058px;
}

.product-section-container {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 1180px;
  width: 1172px;
  height: 1219px;
  background-color: #ffffff;
}

.top-product-section {
  position: absolute;
  top: 0px;
  width: 1172px;
  height: 130px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.offer-container {
  display: flex;
  flex-direction: column;
}

/* .offer-icon {
  width: 126px;
  height: 126px;
  border-radius: 63px;
  background-color: #ffffff;
} */

.product-offer-heading {
  font-size: 30px;
  color: #000000;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 0;
  padding-top: 37px;
}

.product-offer-text {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 0;
}

.fashion-carnival {
  position: absolute;
  top: 215px;
  width: 1178px;
  display: flex;
  justify-content: space-evenly;
}

.inner-fashion-carnival {
  width: 535px;
  height: 292px;
  background-color: #d7eff9;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.fashion-carnival-header {
  font-size: 48px;
  letter-spacing: -4px;
  line-height: 40px;
  color: #222222;
  font-weight: 800;
  font-family: "Montserrat";
  padding-right: 310px;
}

.fashion-carnival-text {
  width: 228px;
  height: 41px;
  font-size: 16px;
  line-height: 22px;
  color: #494949;
  font-weight: 500;
  font-family: "Montserrat";
  margin-left: 25px;
  text-align: left;
}

.shop-now-button.second {
  margin-left: 25px;
}

.featured-products-heading-container {
  width: 1160px;
  position: absolute;
  top: 615px;
}

.featured-products-heading {
  font-size: 26px;
  color: #000000;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  letter-spacing: 1px;
}

.featured-products-heading-text {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 10px;
}

.featured-products {
  position: absolute;
  width: 1160px;
  top: 688px;
  display: flex;
  justify-content: space-evenly;
}

.product {
  width: 246px;
  height: 423px;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 246px;
  height: 298px;
  background-color: #000000;
}

.product-name {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
}

.product-brand {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star-icon {
  font-size: 15px;
  line-height: 50px;
  color: #ffc808;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 0px;
}

.original-price {
  font-size: 16px;
  line-height: 22px;
  text-decoration: line-through;
  color: #6b6b6b;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}

.footer {
  background-image: linear-gradient(90deg, #f9236f 0%, #f92346 100%);
  width: 1609px;
  height: 767px;
}
