@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url(Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url(Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(Montserrat-Medium.ttf);
}

body {
  height: 4744px;
  width: 1600px;
  margin: 0;
}

.top-banner-container {
  width: 1609px;
  height: 74px;
  background-image: linear-gradient(90deg, #f9236f 0%, #f92346 100%);
  margin: 0;
}

.top-navigation-bar {
  width: 1609px;
  height: 121px;
  background-color: #e4f6ff;
}

.free-international {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  padding-left: 221px;
  line-height: 74px;
}

.free-international-button {
  font-size: 16px;
  color: #222222;
  font-weight: 800;
  font-family: "Montserrat";
  width: 33px;
  height: 33px;
  border-radius: 16px;
  background-color: #ffffff;
  border: none;
  position: absolute;
  right: 224px;
  top: 20px;
}

.main-banner-container {
  position: relative;
  /* top: 182px; */
  height: 1057px;
  background-color: #bae9ff;
}
.me-store {
  font-size: 26px;
  color: #222222;
  font-weight: 900;
  font-family: "Montserrat";
  position: absolute;
  top: 146px;
  padding-left: 221px;
}

.nav-bar-links {
  position: absolute;
  right: 224px;
  top: 136px;
}

.nav-link-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  width: 566px;
  padding-top: 20px;
}

.nav-link {
  font-size: 16px;
  color: #222222;
  font-weight: 700;
  font-family: "Montserrat";
  text-decoration: none;
  margin: 0;
}

hr {
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

.fashion-carnival-container {
  height: 935px;
  width: 610px;
  background-color: #bae9ff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 275px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 121px;
  letter-spacing: -9px;
  line-height: 87px;
  color: #222222;
  text-align: center;
  /* padding-left: 279px; */
  margin-bottom: 0;
  /* padding-top: 264; */
}

.carnival {
  color: #f9246f;
}

h2 {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 50px;
  letter-spacing: 91px;
  color: #222222;
  margin: 0;
  /* text-align: center; */
}

p {
  height: 65px;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 10;
}

.shop-now-button {
  width: 156px;
  height: 47px;
  background-image: linear-gradient(90deg, #f9236f 0%, #f92346 100%);
  border: none;
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 30px;
}

.product-section-container {
  display: flex;
  justify-content: center;
}

.fashion-carnival {
  position: absolute;
  top: 1285px;
  width: 1160px;
  display: flex;
  justify-content: space-evenly;
}

.inner-fashion-carnival {
  width: 535px;
  height: 292px;
  background-color: #d7eff9;
}
